.app {
  min-height: 100vh;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 2.5rem;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2.5rem 5%;
}

@media (max-width: 1000px) {
  .main-layout {
    grid-template-columns: 1fr;
  }
}
